.Alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  right: 11px;
  z-index: 99;
  transition: top 0.5s ease;
}

.Text {
  padding: 10px;
  border-radius: var(--radius);
  margin: 10px 0;
}

.active {
  top: 39px;
}

.error .Text {
  border: 1px solid var(--error);
  background-color: var(--error);
}

.warning .Text {
  border: 1px solid var(--warning);
  background-color: var(--warning);
}

@media (max-width: 767px) {
  .Alert {
    width: 100%;
    right: 50%;
    transform: translateX(50%);
  }
}
