.CartItemInfo {
}

.PrdocutImg {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  margin: auto;
}

.ProductName {
}

.ProductPrice {
}

@media (max-width: 767px) {
  .prdocutImg {
    justify-self: center;
  }
}
