:root {
  --blue: #0f4c81;
  --bright-blue: #009dff;
  --light: #f0f8ff;
  --lightGreen: #7befb2;
  --radius: 4px;
  --error: tomato;
  --warning: #ffd700;
}

body {
  margin: 0;
  font-family: 'Roboto', Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  background: var(--blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;
}

.app-root {
  height: 100%;
}
